<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <%= image_tag "jiskobou.png", alt: "Jiskobou logo", width: 100 %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">   
            <%= link_to root_path, class: "nav-link active" do%>
                <i class="fa-solid fa-house"></i> Home
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to "Users", class: "nav-link" do%>
                <i class="fa-solid fa-users"></i> Users
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to messages_path, class: "nav-link" do%>
                <i class="fa-solid fa-comments"></i> Messages
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to "Events", class: "nav-link" do%>
                <i class="fa-solid fa-rectangle-list"></i> Events
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to "Calendar", class: "nav-link" do%>
                <i class="fa-solid fa-calendar-days"></i> Calendar
            <% end %>
          </li>
        </ul>
        <span class="navbar-text">
          Bonjour ....
        </span>
      </div>
    </div>
  </nav>
  